.chat_form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.create_btn {
    padding: 10px 10px 9px 10px;
    font-size: 17px;
    background-color: #EAE7DC;
    color: #E85A4F;
    border: 1px solid #E85A4F;
    border-radius: 5px;
    cursor: pointer;
}

.create_btn:hover {
    background-color: #E85A4F;
    color: white;
}