.chat_menu {
    border: 1px solid #8E8D8A;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 50%;
}

.message_area {
    height: 400px;
    overflow-y: scroll;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    color: grey;
    font-size: 12px;
}

.message {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 10px;
}

.message_block {
    min-width: 40%;
    max-width: 80%;
    margin-bottom: 5px;
}

.my_message .username {
    font-size: 10px;
    color: lightgray;
    margin: 5px;
}

.friend_message .username {
    font-size: 10px;
    color: #8E8D8A;
    margin: 5px;
}

.my_message {
    border: 1px solid #E85A4F;
    border-radius: 10px 10px 0 10px;
    background-color: #E85A4F;
}

.friend_message {
    border: 1px solid #D8C3A5;
    border-radius: 10px 10px 10px 0;
    background-color: #D8C3A5;
}

.friend_message_text {
    font-size: 16px;
    color: white;
    margin: 5px;
}

.my_message_text {
    font-size: 16px;
    color: white;
    margin: 5px;
}

.message_form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

textarea {
    width: 85%;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
}

.send_btn {
    padding: 10px;
    font-size: 17px;
    background-color: #E85A4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}