.navbar {
    background-color: #14213d;
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.nav_link {
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: bolder;
}