.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.login_btn {
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    background-color: #E85A4F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.text_field {
    margin-right: 10px !important;
}